root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
# end_of_line = lf

[*.lua]
indent_size = 4
max_line_length = 200
align_continuous_inline_comment = false
